@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<br />
<h3>@ViewBag.Message</h3>
<br />
<br />
<p>O objectivo deste projecto foi introduzir novos colaboradores à metodologia MVC tentando replicar algumas das funcionalidades disponíveis no GoodReads e aplicando o conceito a filmes.</p>
