@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    <br />
Algures na Internet.
</address>

<address>
    <strong>E-mail:</strong> "Não está disponível porque eu não dou o meu e-mail a qualquer um!" </br>
    <strong>Telefone:</strong> "Isso já pode ser"
</address>